
// Search form
//.search-form {
  //@extend .form-inline;
//}
.search-form label {
  font-weight: normal;
  //@extend .form-group;
}

form,
#search {
  font-family: $primary-font;
}

input {
  font-family: $secondary-font;
}
//.search-form .search-field {
  //@extend .form-control;
//}
//.search-form .search-submit {
//  @extend .btn;
//  @extend .btn-secondary;
//}
