body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.wrap {
  flex: 1;
}

%header {
  font-family: $primary-font;
  line-height: 1.5;
  margin-bottom: 1em;
}

h1 {
  @extend %header;
  font-size: ms(6);
  font-weight: 700;
}

h2 {
  @extend %header;
  font-size: ms(5);
  font-weight: 300;
}

h3 {
  @extend %header;
  font-size: ms(4);
  font-weight: 700;

  &.homepage {
    font-weight: 300;
  }
}

h4 {
  @extend %header;
  font-size: ms(3);
  font-weight: 300;

  &.homepage {
    font-size: ms(4);
  }
}

h5,
th {
  @extend %header;
  font-size: ms(2);
  font-weight: 700;
  margin-bottom: .3em;
}

h6 {
  @extend %header;
  font-size: ms(1);
  font-weight: 300;
  margin-bottom: .3em;
}

p,
ul,
td {
  font-family: $secondary-font;
  font-size: ms(0);
}

span {
  font-family: $primary-font;
}

a {

  &:hover {
    text-decoration: underline;
  }
}

.sr-only {
  color: #767676;
}
