
// Colors

$black: #000;
$spacer: 1em;
$bootstrap-grey: #ccc;

// Breakpoints

$tablet: 767px;
$desktop: 991px;
$wide-desktop: 1199px;

// Paths

@import 'font-awesome';

// Text

$ms-base: 16px;
$ms-ratio: 1.153;

$primary-font: 'futura-pt';
$secondary-font: 'adobe-garamond-pro';
