
// Colors

$black: #000;
$spacer: 1em;
$bootstrap-grey: #ccc;
$bootstrap-dark-grey: #636c72;

// Breakpoints

$tablet: 767px;
$desktop: 991px;
$wide-desktop: 1199px;

// Paths

@import 'font-awesome';

// Text

$ms-base: 16px;
$ms-ratio: 1.153;

$primary-font: 'futura-pt';
$secondary-font: 'adobe-garamond-pro';

// Boostraps Extends for WP-Classes
%figure-caption {
  color: $bootstrap-dark-grey;
  font-size: 90%;
}

%figure-img {
  line-height: 1;
  margin-bottom: .5rem;
}

%sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%sr-only-focusable {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
 }

%img-fluid {
  height: auto;
  max-width: 100%;
}

%row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

%col {
  -webkit-box-flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0;
  max-width: 100%;
}
