
@import 'bootstrap';

$brand-primary: #82ad87;
$brand-accent: #a0814b;
$background: #fff;
$brand-text: #333;

@import 'common/accessibility';
@import 'color/color';

@import 'common/helper';
//@import 'components/cards';
