
@import 'bootstrap';


$brand-primary: #c64949;
$brand-accent: #a285b4;
$background: #fff;
$brand-text: #333;

@import 'common/accessibility';
@import 'color/color';

@import 'common/helper';
//@import 'components/cards';
