
$tablet: 768px;
$desktop: 992px;
$wide-desktop: 1200px;

// Accessibility Text Adjustments
// auto adjusts color contrast for WCAG 2.0 AA standards

// color-compliance(background color, text color)

$primary: color-compliance($background, $brand-primary);
$accent: color-compliance($background, $brand-accent);
$text: color-compliance($background, $brand-text);
$primary-inverse: color-compliance($primary, $background);
$accent-inverse: color-compliance($accent, $background);
$text-inverse: color-compliance($text, $background);

body,
html {
  background-color: $background;
}

h1,
h3,
h4.homepage,
h5,
a,
.btn {
  color: $primary;
}

h2,
h4,
a:hover,
a:focus,
a:active,
.btn:hover,
.search-pag.subheader,
ul li::before {
  color: $accent;
}

h6,
p,
ul {
  color: $text;
}

.icon {
  background-color: $primary;

  span {
    color: $primary-inverse;
  }
}

.content-info {
  background-color: $accent;
  color: $accent-inverse;

  a,
  caption {
    color: $accent-inverse;
  }
}

.sticky-nav {
  background-color: $background;
  border-bottom: 2px solid $brand-accent;
}

.site-header,
.wp-custom-header {
  background-color: $primary;

  h1,
  h2,
  h3 {
    color: $primary-inverse;
  }
}

.sub-menu {
  a {
    color: $accent;
  }

  li:hover,
  a:hover {
    background-color: $primary;
    color: $primary-inverse;
    text-decoration: none;
  }
}

@include breakpoint($tablet) {
  .sub-menu {
    background-color: $accent;

    a {
      color: $accent-inverse;
    }

    li:hover,
    a:hover {
      background-color: $primary;
      color: $primary-inverse;
      text-decoration: none;
    }
  }
}

@include breakpoint(max-width $tablet - 1) {

  .nav.toggled-on {
    a:hover,
    a:active,
    a:focus {
      background-color: $accent;
      color: $accent-inverse;
    }
  }

  .nav.toggled-on .sub-menu {
    li:hover,
    a:hover {
      background-color: $primary;
      color: $primary-inverse;
      text-decoration: none;
    }
  }
}
