.content-info {
  margin-top: 60px;
  padding: 20px;
  text-align: center;

  a {
    text-decoration: underline;
  }

  .foot-logo {
    width: 100px;

    img {
      width: 100%;
    }
  }

  .container {
    width: 100%;
  }

  .row {
    align-items: center;
  }
}
