.banner {
  ul {
    flex-flow: wrap row;
  }

  .container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 10px 0;

    li {
      text-align: center;
    }
  }

  .sticky-nav {
    width: 100%;
  }
}

.site-header,
.wp-custom-header {
  height: 450px;
  margin: 0 auto;
  max-width: 1500px;
  //padding: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  img {
    height: 100%;
    width: auto;
  }
}

.image-overlay {
  background: $black;
  height: 80%;
  left: 15%;
  opacity: .4;
  position: absolute;
  top: 10%;
  width: 70%;
  z-index: 2;

}

.wrap {
  padding-top: 60px;
}

.site-info {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  .content {
    text-align: center;
    width: 80%;
  }
}

.nav {
  align-items: center;
  flex: 1;
  justify-content: space-between;
  margin: 0 25px;
  transition: height .5s, opacity 1.5s;

  a {
    font-family: futura-pt;
    font-weight: 400;

    &.site-logo {
      margin-right: 15px;
      padding: 0;
    }
  }
}
