.menu-toggle .fa {
  transition: all .3s linear;
}


@include breakpoint($tablet) { //Larger than tablet size
  .menu-toggle {
    display: none;
  }

  a {
    padding: 0;
  }

  li {
    .sub-menu {
      display: none;
      padding: 0;
      position: absolute;

      a {
        display: block;
        padding: 0 15px 10px;
      }

      a:first-child {
        padding-top: 10px;
      }
    }

    &:hover .sub-menu {
      display: block;
    }
  }
}

@include breakpoint(max-width $tablet - 1) {
  .nav {
    flex: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .nav.toggled-on {
    display: block;
    height: auto;
    opacity: 1;
    visibility: visible;
    width: 100%;

    li {
      margin-top: 10px;
    }
  }

  .wrap.container {
    width: 100%;
  }
}


@include breakpoint(max-width $desktop) {
  .banner .container {
    width: 90%;
  }

  .row,
  .flex {
    display: block;

    div {
      flex: none;
      max-width: 100%;
      width: 100%;
    }
  }

  h1 {
    font-size: ms(4);
  }

  h2 {
    font-size: ms(3);
    margin-bottom: 5px;
  }

  .btn {
    font-size: ms(2);
    margin-top: 10px;

    &.search-button {
      margin: 0 20px;
    }
  }
}
